.container{
    max-width:26%;
    margin-top:4%;
}

.head{
    margin-top:3%;
    line-height:1.6;
    text-align:center;
    color:rgb(51, 49, 49);
    font-size:18px;

}
/* .img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 25%;
    margin-bottom: 5%;
} */
.btn{
    margin-bottom: 10%;
}
.card{
    height: 46px;
    line-height: 8px;
    text-align: center;
    font-size: 14px;
}
