.jumbotron{
    background-image: url('bg_login.jpg');
    background-size: cover;
    height: 250px;
}


.fixed-bottom{
    height: 50px;
    background: #ff8a04;
    font-size: 20px;
}


.bodyhome{
    background-image: url('bgandroi.jpg');
    background-size: cover;
}

.position-sticky{
    height: 40px;
    background: #fff7f7;
    color: #fff7f7;
}

.nav-rm{
    height: 60px;
    line-height: 50px;
    background: #ff8a04;
    color: #ffffff;
    font-size: 20px;
}

